.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}
.mat-header-cell {
  font-size: 20px;
  color: #023047;
}
.mat-cell {
  font-size: 16px;
}
/* td, th {
  width: 25%;
} */
